.secondary-navbar {
   display: flex;
   flex-direction: column;

   height: 100%;
   min-width: 180px;
}

.secondary-navbar-header {
   align-self: flex-start;
   margin: 1em 0;
   padding-left: 10px;
}

.secondary-navbar-section {
   display: flex;
   flex-direction: column;
}

.secondary-navbar-item {
   padding: 0.5em 10px;
   cursor: pointer;
   font-size: 12px;
}

.secondary-navbar-item--selected {
   color: #1F74CE;
   background-color: #DAE8F7;
   font-weight: 700;
}

.secondary-navbar-item:hover {
   background-color: #DAE8F7;
}